/* CSS Document */
.p_ipt_txt { line-height: 14px; }
#popup_frame { position: absolute; display: none; }
#popup_pane { width:459px; position: absolute; z-index: 100000; display: none; }
.xianbao { widht: 365px; height: 39px; line-height: 39px; font-size: 2px; }
.xianbao li { float: left; height: 20px; line-height: 20px; }
.xianbao li.grayxian { width: 88px; border-top: 1px dashed #dbe4eb; }
.xianbao li.bluexian { width: 275px; border-top: 1px solid #61a1df; }
#popup_pane_head { background: #fff; border: 1px solid #fabe00;padding-bottom: 9px; position: relative;min-height: 152px;padding-top:35px; }
.popup_title { height:34px; overflow: hidden; position: absolute; top: 0px; left: 1px; margin: 5px 10px 0 10px; z-index:10;}
.popup_title li { float: left; height: 30px; line-height: 30px; padding: 0 7px; text-align: center; font-size:14px; cursor: pointer; width: auto; color: #939a9f;}
.popup_title li.cur { color: #60606c; border-bottom:2px solid #fabe00; }
.popupdivh3{position: absolute; z-index:100001;height: 5px;margin-top:-4px;}
.popupdivh3 h3 { font-size: 1px; color: #61a1df; height: 3px; line-height: 30px; border-bottom: none; position: relative; }
.popupdivh3 h3 .upw { position: absolute; width: 23px; height: 25px; top: 1px; right: 1px; background:#fff url(../Images/input_selectup.png) no-repeat center right;}
.popupdivh3 p{background:#fff;height: 3px;margin-left:1px;border-top: 1px dashed #ffffff;}
#popup_content { padding:5px 0 5px 5px; overflow: hidden; border-top:2px solid #f2f3f5; margin:0px 10px 0px 10px;}
#popup_content li { display: none; margin: 0; width:432px; }
#popup_content li span.cur-city { color: #fff; background: #fabe00; }
#popup_content .cur { display: block; overflow:hidden;}
#popup_content li div.letterbox{position: relative;overflow:hidden;zoom:1;padding-left:58px;}
#popup_content li span { float: left; width:60px;border:1px solid #fff;overflow:hidden; line-height:22px; font-size: 12px; cursor: pointer; text-align: center; white-space:nowrap;color: #60606c;margin-right:10px; margin-top:10px;position: relative; border-radius:3px;background-color: #f2f3f5;}
#popup_content li b.cityzmletter{width:30px;color:#ff8650;position: absolute;top:5px;left:0px;display:block;float:left;line-height:25px; font-weight:normal; font-size:14px;}
#popup_content li span.new{border:1px solid #ff8650;background-color:#fff;line-height:22px;background:url(../Images/city_new_ora.png) no-repeat right top;}
#popup_content li span.new.cur-city{background:#fabe00 url(../Images/city_new_ora.png) no-repeat right top;background-color:#fabe00;}
#popup_content li span img{ position: absolute;right:-5px;top:4px;}
#popup_content li .red { color: red; }
.f-left { float: left; color:#60606c;}
.ipt_txtbg { border: 1px solid #CFCFCF; height: 20px; margin-right: 5px; padding: 2px; }
.width130 { width: 130px; }
.width150 { width: 150px; }
.block { display: block; }
.iptnoborder { height: 22px; margin: 0; padding: 0; border: 0; }
.hand { cursor: pointer; }
/*  */
.f-right { float: right; color:#939a9f;}
#city_down_tips { border: 1px solid #f9bd00;border-top:0 none;max-width:270px;width:auto;padding-bottom: 3px; position: absolute; left: 0; top: 0; background: #fff; font-size: 12px; z-index: 9999999; }
.a_top_title { color: #323232; line-height: 25px; height: 25px; overflow: hidden; background: #fff; margin-bottom: 1px; padding: 0 5px;}
.a_top_title font{color:#939a9f}
#a_error_info { display: none; color:#939a9f}
#city_tips_info { overflow: hidden; zoom: 1; height:246px;}
#city_tips_info li { height:29px; line-height:29px;*+height:27px; *+line-height: 27px; cursor: default; overflow: hidden; padding: 0 5px;border-bottom:1px solid #f2f2f2;color:#60606c;}
#city_tips_info .cur, #city_tips_info li:hover{ background: #f9bd00;color:#ffffff; }
#city_tips_info .cur span.yelow,#city_tips_info li:hover span.yelow{color:#848484;}
#city_tips_info .cur div, #city_tips_info li:hover div{color:#ffffff;}
#city_b_pager { text-align:center; height: 23px; line-height: 23px; overflow: hidden; color: #60606c; font-size: 12px; width:40px; margin:0 auto;}
.keydivh3{position: absolute; z-index:100001;height: 35px;margin-left:-1px;}
.keydivh3 h3 { font-size: 12px; color: #61a1df; height: 30px; line-height: 30px; border: 1px solid #f9bd00; border-bottom: none; position: relative; }
.keydivh3 h3 .upw { position: absolute; width: 23px; height: 25px; top: 3px; right: 1px; background: url(../Images/input_selectup.png) no-repeat center right;}
.keydivh3 p{background:#fff;height: 5px;margin-left:1px;margin-top:-2px;border-top: 1px dashed #f9bd00;*+border-top: 1px dashed #ffffff;}
/*  */
.areaSelection{width:868px;position:absolute;z-index: 10000;text-align: left;margin-top:38px;}
.areaSelection ol.xbox{width:700px;display:none;}
.areaSelection ol.xbox li{ float:left;height:5px;}
.areaSelection ol.xbox li.graybor{width:189px; position:relative;}
.areaSelection ol.xbox li.bluebor {width: 510px;height:5px; border-bottom: 1px solid #61a1df; position:relative;}
.areaSelection .areaup{ position: absolute; width: 23px; height: 25px; top: 1px; right: 1px; }
.areainfo{margin-top:-1px;border:1px solid #fabe00;width:868px; font-size:12px; background:#fff;padding:5px 0;}
.areainfo dt{margin-top:10px; color:#333333; font-weight:bold;}
.areainfo dd{ float:left; margin-right:10px;margin-bottom:10px;white-space:nowrap;}
.areainfo .wbox_bd{width:838px;margin:0 10px 0 15px;}
.areainfo .wbox_bd .gray_6B0B3B2{color:#939a9f;padding:13px 0;}
.zc_index_select .zc_item_cont dd .areainfo dd{min-height:3px;height:auto;}
.zc_index_select .areainfo dt{color: #2f2f39;font-size: 16px;position:static;padding:0px;line-height:auto;display:none;}
.ch_box .zc_item_cont dd .areainfo dd{min-height:3px;height:auto;}
.ch_box .areainfo dt{color: #2f2f39;font-size: 16px;position:static;padding:0px;line-height:auto;display:none;}
.areainfo dd a{ display:block;padding:0px 10px;color:#60606c;cursor:pointer;font-size:12px;text-decoration:none;white-space:nowrap;line-height:24px;background-color:#f2f3f5;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px; }
.areainfo dd a.areainfocur{ background-color:#fabe00; color:#fff; text-decoration:none;}
.areainfo dd a.szjmdicon, .areaMD li.szjmdicon a{background-image:url(../Images/jmd.png); background-repeat:no-repeat; background-position:right center;padding-right:30px;}
.areainfo dd li.gray a.szjmdicon, .areaMD li.szjmdicon.gray a{background-image:url(../Images/jmd_gray.png);}
.areainfo dd .areaMD a{background-color: #fffbf3;display:inline;color:#60606c;}
.areainfo dd .areaMD li.gray a{color:#c8c8ce;}
.areainfo dd .areaMD li.gray a:hover{cursor:default;}
.areainfo dd .areaMD li.gray:hover{cursor:default;}
.areainfo dd .areaMD a span.yelow{display:inline-block;width:26px;height:15px;margin-left:5px;vertical-align:-4px;*+vertical-align:3px;background:url(../Images/hours24_icon.png) no-repeat;text-indent:-9999px;}
.areainfo dd .areaMD a span.scd{display:inline-block;width:36px;height:15px;margin-left:5px;vertical-align:-4px;*+vertical-align:3px;background:url(../Images/scd_icon.png) no-repeat;text-indent:-9999px;}
.areainfo dd .areaMD li.gray a span.yelow{background:url(../Images/hours24_gray.png) no-repeat;}
#city_tips_info li.gray{color:#c8c8ce;}
.gray .f-left{color:#c8c8ce;}
.gray .yelow{color:#c8c8ce;}
#city_tips_info li.gray.cur, #city_tips_info li.gray:hover{background:#fff;color:#c8c8ce;}
#city_tips_info li.gray.cur div, #city_tips_info li.gray:hover div{color:#c8c8ce;}
#city_tips_info li.gray.cur span.yelow, #city_tips_info li.gray:hover span.yelow{color:#c8c8ce;}
.areaMD{border: 1px solid #fabe00; border-top:none; width:868px; position:absolute; background:#fffbf3; color:#61a1df;zoom:1; z-index:9999;margin-top:-1px;}
.areaMD ul{padding-left:15px;padding-top:15px;}
.areaMD li{ float:left;  white-space:nowrap; line-height:14px; margin-top:2px; cursor:pointer; width:205px;background-color:#fffbf3;font-size:12px;color:#60606c;line-height:24px;height:24px;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
.areaMD li.areaMDcur,.areaMD li.areaMDcur a{ color:#fff; background-color:#fabe00;}
.areaMD li.areaMDcur a .store_new_ora,.areaMD li a .store_new_ora{display:inline-block;width:26px;height:15px;margin-left:5px;vertical-align:-4px;*+vertical-align:3px;background:url(../Images/store_new_ora.png) no-repeat;text-indent:-9999px;}
.areaMD li.areaMDcur.gray a .store_new_ora,.areaMD li.gray a .store_new_ora{background:url(../Images/store_new_gray.png) no-repeat;}
.shopinfo{ background:#fafbfc; padding:15px;margin-top:10px; overflow:hidden; zoom:1; color:#60606c;text-align: left;border-top:1px solid #fabe00;}
.shopinfo span{display:block; float:left; line-height:20px; white-space:normal;}
.shopinfo span.wtitle{ width:60px;}
.shopinfo span.w235{ width:762px;}
.shopinfo span.wtitlesj{ width:75px;}
.shopinfo span.w220{ width:762px;}

/*  */
.sz_time{ width:360px; position:absolute;z-index: 10000; overflow: hidden;}
.sz_time ol{}
.sz_time ol.xbox li{ float:left;height:35px;}
.sz_time ol.xbox li.graybor{width:213px; border: 1px solid #f9bd00;border-bottom: 1px dashed #f9bd00; position:relative;}
.sz_time ol.xbox li.bluebor {width:145px; border-bottom: 1px solid #f9bd00; position:relative;height:36px;}
.sz_time .areaup{ position: absolute; width: 23px; height:34px; top: 1px; right: 1px;background-color:#fff; }
.sz_time .sz_timeinfo{border: 1px solid #f9bd00; border-top:none; color:#c8c8ce; background:#fff; font-size:14px; font-family:arial, Simsun, sans-serif;}
.sz_time .sz_timeinfo ul{ display:block; float:left; width:50px;margin:10px 0px 10px 7px;}
.sz_time .sz_timeinfo ul li{width:58px; text-align:center; line-height:25px; cursor:pointer;color:#60606c;}
.sz_time .sz_timeinfo ul li.gray_ccc{color:#c8c8ce;}
.sz_time .sz_timeinfo ul li.red{color:#ff8650;}
.sz_timeinfo p.red{ background:#fafbfc; line-height:50px;color:#ff8650;font-size:12px;border-top: 1px dashed #f9bd00;padding-left:15px;}
.safetychildrenseat-sm{width:818px;padding:15px 25px;border:1px solid #fabe00;border-top:none;background:#fafbfc;}
.safetychildrenseat-sm.gray{color:#939a9f;}
/* 关闭 */
.areaSelection .close{display:none; width:34px; height:34px; position:absolute; background:url(../Images/close.png) no-repeat 0 0; text-indent:-9999px; margin-left:660px;}
.dotline{height:1px;border-top:1px dotted #fabe00;margin:15px;}
.scd-txt{font-size:14px;color:#fabe00;line-height:20px;margin-left:25px;}
.scd-txt i{font-style:normal;color:#939a9f;font-size:12px;}

/* 上门取送样式 */
.zc_index_select .bhnew.zc_index_dz .zc_item_cont .sz_time ol.xbox li.graybor{width:158px;}
.zc_index_select .bhnew.zc_index_dz .zc_item_cont .sz_time ol.xbox li.bluebor{width:200px;}