* {
  margin: 0;
  padding: 0;
}
body {
  background: #f2f3f5 !important;
}
body .favorable .fav-filter {
  width: 100%;
  height: 80px;
  background: #FFF;
}
body .favorable .fav-filter .filter-con {
  width: 1200px;
  height: 80px;
  margin: 0 auto;
}
body .favorable .fav-filter .filter-con .city-time {
  float: left;
}
body .favorable .fav-filter .filter-con .city-time input:focus {
	border: 1px solid #fabe00;
	outline: none;
}

body .favorable .fav-filter .filter-con .city-time input {
	display: inline-block;
  margin: 21px 15px 0 0;
  padding: 11px 16px;
  width: 106px;
  height: 14px;
  font-size: 14px;
  line-height: 14px;
  border: 1px solid #e4e6e9;
  vertical-align: top;
  overflow: hidden;
}
body .favorable .fav-filter .filter-con .city-time span {
  display: inline-block;
  margin: 21px 15px 0 0;
  padding: 11px 20px;
  height: 14px;
  font-size: 14px;
  line-height: 14px;
  border: 1px solid #e4e6e9;
}
body .favorable .fav-filter .filter-con .city-time .select-city {
  /*padding-right: 96px;*/s
  background: url(../Images/fav_arc_down.png) no-repeat 120px center;
  background-size: 22px 7px;
}
body .favorable .fav-filter .filter-con .city-time .time-start {
  padding: 11px 40px 11px 20px;
  background: url(../Images/fav_icon_calendar.png) no-repeat 106px center;
  background-size: 16px 16px;
}
body .favorable .fav-filter .filter-con .city-time .right-arc {
  margin: 0;
  padding: 0;
  width: 7px;
  height: 12px;
  border: none;
  background: url(../Images/fav_arc_right.png) no-repeat center;
  vertical-align: middle;
}
body .favorable .fav-filter .filter-con .city-time .time-end {
  margin-left: 9px;
  padding: 11px 40px 11px 20px;
  background: url(../Images/fav_icon_calendar.png) no-repeat 106px center;
  background-size: 16px 16px;
}
body .favorable .fav-filter .filter-con .city-time .search-btn {
  font-weight: bold;
  border-radius: 3px;
  color: #fff;
  background: #fabe00;
  cursor: pointer;
}
body .favorable .fav-filter .filter-con .city-time .reset-btn {
  font-weight: bold;
  border-radius: 3px;
  background: #fafbfd;
  cursor: pointer;
}
body .favorable .fav-filter .filter-con .share {
  float: right;
  width: 328px;
  height: 80px;
  font-size: 0;
  text-align: right;
}
body .favorable .fav-filter .filter-con .share > div {
  display: inline-block;
  width: 68px;
  height: 20px;
  margin: 28px 0 0 6px;
  padding: 4px 15px;
  font-size: 14px;
  border: 1px solid #e9ebee;
  color: #93939e;
  background: #fafbfd;
  cursor: pointer;
}
body .favorable .fav-filter .filter-con .share .icon {
  vertical-align: middle;
}
body .favorable .fav-filter .filter-con .share .weibo {
	  border-radius: 3px;
  background: url(../Images/fav_icon_weibo.png) no-repeat 15px center;
  background-size: auto 20px;
}
body .favorable .fav-filter .filter-con .share .weibo:hover {
	border: 1px solid rgb(252, 163, 130);
}
body .favorable .fav-filter .filter-con .share .weibo a {
  color: #93939e;
  text-decoration: none;
  vertical-align: middle;
}
body .favorable .fav-filter .filter-con .share .weixin {
  position: relative;
    border-radius: 3px;
  background: url(../Images/fav_icon_weixin.png) no-repeat 15px center;
  background-size: auto 20px;
}
body .favorable .fav-filter .filter-con .share .weixin:hover {
	border: 1px solid rgb(87, 188, 86);
}
body .favorable .fav-filter .filter-con .share .weixin:hover .qr-code {
  display: block;
  position: absolute;
  top: 32px;
  left: -24px;
  width: 145px;
  height: 145px;
  background: url(../Images/fav_qr_bg.png) no-repeat center;
  z-index: 1000;
}
body .favorable .fav-filter .filter-con .share .weixin:hover .qr-code img {
  display: block;
  /* width: auto;
  height: 128px; */
  margin: 26px auto 0;
}
body .favorable .fav-filter .filter-con .share .weixin .qr-code {
  display: none;
}
body .favorable .fav-filter .filter-con .share .email {
  position: relative;
  padding-left: 18px;
    border-radius: 3px;
  background: url(../Images/fav_icon_email.png) no-repeat 4px center;
  background-size: auto 20px;
  vertical-align: bottom;
}
body .favorable .fav-filter .filter-con .share .email:hover {
	border: 1px solid rgb(253, 197, 37);
}
body .favorable .fav-filter .filter-con .share .email .email-rss {
  display: none;
  position: absolute;
  top: 32px;
  left: -220px;
  width: 322px;
  height: 68px;
  text-align: left;
  background: url(../Images/fav_email_bg.png) no-repeat left 2px;
  background-size: 322px 62px;
  /*z-index: 200;*/
}
body .favorable .fav-filter .filter-con .share .email .email-rss input {
  width: 180px;
  height: 38px;
  margin: 18px 20px 0 12px;
  padding: 0 0 0 10px;
  line-height: 38px;
  vertical-align: bottom;
}
body .favorable .fav-filter .filter-con .share .email .email-rss .email-btn {
  display: inline-block;
  line-height: 38px;
  padding: 0 22px;
  border-radius: 3px;
  color: #fff;
  background: #fabe00;
}
body .favorable .fav-list {
  width: 1200px;
  margin: 60px auto 0;
}
body .favorable .fav-list dl {
  text-align: justify;
}
body .favorable .fav-list dl:after {
  content: '';
  display: inline-block;
  width: 100%;
}
body .favorable .fav-list dl dd {
  position: relative;
  border: 1px solid #f2f3f5;
  background: #fff;
  overflow: hidden;
}
body .favorable .fav-list dl dd:hover {
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
}
body .favorable .fav-list dl .top-item {
  margin-bottom: 30px;
}
body .favorable .fav-list dl .top-item .item-vessel img {
  float: left;
  margin: -40px 32px 0 0;
  width: 680px;
  height: 320px;
  overflow: hidden;
}
body .favorable .fav-list dl .top-item .item-vessel .fav-title {
  margin: 40px 0 16px 0;
  font-size: 24px;
  color: #1b2939;
  height: 36px;
  overflow: hidden;
  padding: 0 10px 0 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
body .favorable .fav-list dl .top-item .item-vessel .fav-con {
  margin-bottom: 36px;
  padding-right: 50px;
  font-size: 16px;
  color: #939a9f;
}
body .favorable .fav-list dl .top-item .item-vessel .check-detail {
  margin-bottom: 26px;
}
body .favorable .fav-list dl .top-item .item-vessel .check-detail .detail-btn {
  display: inline-block;
  width: 160px;
  height: 42px;
  line-height: 42px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  background: #fabe00;
  text-decoration: none;
  cursor: pointer;
}
body .favorable .fav-list dl .top-item .item-vessel .fav-cities span {
  display: inline-block;
  width: 60px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 3px;
  color: #fff;
}
body .favorable .fav-list dl .top-item .item-vessel .fav-cities span.all {
  background: #fd966c;
}
body .favorable .fav-list dl .top-item .item-vessel .fav-cities span.city {
  background: #79abff;
}
body .favorable .fav-list dl .top-item .item-vessel .fav-state {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
}
body .favorable .fav-list dl .top-item .item-vessel .fav-state.progress {
  background: #377aea;
}
body .favorable .fav-list dl .top-item .item-vessel .fav-state.coming-close {
  background: #ff7841;
}
body .favorable .fav-list dl .top-item .item-vessel .fav-state.colsed {
  background: #3d3d3d;
}
body .favorable .fav-list dl .top-item .item-vessel .fav-state p {
  display: inline-block;
  line-height: 14px;
  vertical-align: middle;
}
body .favorable .fav-list dl .list-item {
  float: left;
  /*position: relative;
  display: inline-block;*/
  width: 386px;
  height: 326px;
  margin: 0 18px 20px 0;
}
body .favorable .fav-list dl .list-item.no-margin {
  margin-right: 0;
}
body .favorable .fav-list dl .list-item a {
  position: relative;
  display: block;
  text-decoration: none;
}
body .favorable .fav-list dl .list-item a.closed:after,
body .favorable .fav-list dl .list-item a.closed .img-cover {
  /*content: '';*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 180px;
  background: rgba(0, 0, 0, 0.4);
}
body .favorable .fav-list dl .list-item img {
  width: 100%;
  height: 180px;
  /*height: auto;*/
  margin-bottom: 18px;
  overflow: hidden;
}
body .favorable .fav-list dl .list-item h3 {
	height: 20px;
  margin: 0px 16px;
  font-size: 16px;
  line-height: 1.2;
  color: #1b2939;
  overflow: hidden;
}
body .favorable .fav-list dl .list-item p {
	height: 63px;
  margin: 8px 16px 6px;
  font-size: 14px;
  color: #939a9f;
}
body .favorable .fav-list dl .list-item .fav-cities {
  margin: 0px 16px;
  font-size: 0;
  overflow: hidden;
}
body .favorable .fav-list dl .list-item .fav-cities span {
  float: left;
  /*display: inline-block;*/
  width: 60px;
  height: 24px;
  margin-right: 6px;
  padding: 0 2px;
  line-height: 24px;
  font-size: 12px;
  text-align: center;
  border-radius: 3px;
  color: #fff;
  background: #79abff;
  overflow: hidden;
}
body .favorable .fav-list dl .list-item .fav-cities span.all,
body .favorable .fav-list dl .top-item .fav-cities span.multi,
body .favorable .fav-list dl .list-item .fav-cities span.multi {
  background: #fd966c;
}
body .favorable .fav-list dl .list-item .fav-cities span.city {
  background: #79abff;
}
/*body .favorable .fav-list dl .top-item .item-vessel .fav-cities span*/
body .favorable .fav-list dl .top-item .fav-cities span.closed,
body .favorable .fav-list dl .list-item .fav-cities span.closed {
  color: #6c6c77;
  background: #f2f3f5;
}
body .favorable .fav-list dl .list-item .fav-state {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  color: #fff;
  background: #377aea;
}
body .favorable .fav-list dl .list-item .fav-state.progress {
  background: #377aea;
}
body .favorable .fav-list dl .list-item .fav-state.coming-close {
  background: #ff7841;
}
body .favorable .fav-list dl .list-item .fav-state.closed,
body .favorable .fav-list dl .top-item .fav-state.closed {
  background: #3d3d3d;
}
body .favorable .fav-list dl .list-item .fav-state p {
  display: inline-block;
  height: auto;
  margin: 0;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  vertical-align: middle;
}
body .favorable .popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2000;
}
body .favorable .popup .popup-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 778px;
  height: 666px;
  margin: -300px 0 0 -333px;
  background: url(../Images/fav_popup_bg.png) no-repeat center;
  background-size: auto 100%;
}
body .favorable .popup .popup-wrapper h2 {
  width: 520px;
  margin: 0 auto 25px;
  padding: 28px 0 22px 0;
  text-align: center;
  color: #ff8650;
  border-bottom: 1px dashed #dadadf;
}
body .favorable .popup .popup-wrapper .rules {
  width: 520px;
  height: 230px;
  margin: 0 auto 10px;
  padding: 0 10px 60px 0;
  border-bottom: 1px solid #c8c3b4;
  overflow-y: auto;
}
body .favorable .popup .popup-wrapper .rules li {
  font-size: 14px;
}
body .favorable .popup .popup-wrapper .rules li h4 {
  padding: 8px 0;
}
body .favorable .popup .popup-wrapper p {
  margin: 0;
  padding: 0;
}
body .favorable .popup .popup-wrapper .call {
  width: 520px;
  height: auto;
  margin: 0 auto;
}
body .favorable .popup .popup-wrapper .call-cities {
  width: 520px;
  height: 112px;
  margin: 0 auto;
  overflow: hidden;
}
body .favorable .popup .popup-wrapper .call-cities li {
  float: left;
  width: 60px;
  height: 24px;
  margin: 10px 10px 0 0;
  line-height: 24px;
  text-align: center;
  border-radius: 3px;
  color: #fff;
  background: #79abff;
  cursor: pointer;
}
body .favorable .popup .popup-wrapper .call-cities li.closed {
  color: #6c6c77;
  background: #f2f3f5;
}
body .favorable .popup .popup-wrapper .call-cities li.all {
  color: #fff;
  background: #fd966c;
}
body .favorable .popup .popup-wrapper .get-btn {
  position: absolute;
  left: 50%;
  bottom: 70px;
  width: 160px;
  height: 50px;
  margin-left: -80px;
  line-height: 50px;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  background: #fabe00;
  cursor: pointer;
}
/* footer line color */
.zc_footcopyright .ainfor {
	border-top: none !important;
	 border-bottom: 1px solid #32414f !important;
}

/* for ie6, ie7, ie8 */
@media \0screen\,screen\9{
    body .favorable .fav-list dl .list-item a.closed .img-cover {
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000,enabled=true,gradientType='1');
    }
    body .favorable .popup {
        background: none;
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000,enabled=true,gradientType='1') !important;
    }
    body .favorable .fav-list dl dd:hover {
      border: 1px solid #565656;
    }
    body .favorable .fav-filter .filter-con .share .email .email-rss {
    	height: 76px;
    	background-position: top left;
    }
}

/* for ie6, ie7 */
@media screen\9 {
  body .favorable .fav-filter .filter-con .city-time span,
  body .favorable .fav-filter .filter-con .share > div,
  body .favorable .fav-list dl .top-item .item-vessel .fav-state p,
    body .favorable .fav-list dl .list-item .fav-state p,
    body .favorable .fav-list dl:after,
    body .favorable .fav-filter .filter-con .share .email .email-rss .email-btn {
        display: inline-block;
        display: inline;
        *zoom: 1;
    }
    body .favorable .fav-filter .filter-con .city-time .right-arc {
      vertical-align: 12px;
    }
    body .favorable .fav-list dl dd {
      z-index: 500;
    }
    body .favorable .fav-list dl dd.pop {
      z-index: 1500;
    }
    body .favorable .fav-list dl dd.pop.pop-active {
      z-index: 1501;
    }
    body .favorable .fav-list dl .list-item {
      float: left;
      width: 386px;
      margin: 0 16px 20px 0;
    }
    body .favorable .fav-list dl .top-item .item-vessel img {
      margin-top: 0;
    }
    body .favorable .fav-list dl .list-item .fav-state p {
        line-height: 16px;
        vertical-align: -22px;
    }
    body .favorable .fav-list dl .top-item .item-vessel .fav-state p {
      height: 30px;
        line-height: 16px;
      vertical-align: -24px;
    }
    body .favorable .fav-filter .filter-con .share .email .email-rss .email-btn {
        vertical-align: -31px;
    }
    body .favorable .fav-filter .filter-con .share .weixin {
        z-index: 1000;
    }
    body .favorable .fav-filter .filter-con .share .weibo a {
        vertical-align: -2px;
    }
    body .favorable .fav-filter .filter-con .share .icon {
        vertical-align: -3px;
    }
}
/**没有优惠活动*/
body .favorable .no-fav {
  width: 100%;
  height: 700px;
  background: #f2f3f5;
  overflow: hidden;
}
body .favorable .no-fav .no-con {
  width: 182px;
  height: 220px;
  margin: 192px auto 0;
  text-align: center;
}
body .favorable .no-fav .no-con img {
  display: block;
  margin: 0 auto;
}
body .favorable .no-fav .no-con p {
  margin: 30px 0 20px 0;
  font-size: 16px;
  color: #60606c;
}

body .favorable .no-fav .no-con a {
  display: block;
  width: 56px;
  height: 12px;
  margin: 0 auto;
  padding: 8px 12px;
  line-height: 12px;
  font-size: 14px;
  border-radius: 3px;
  color: #fff;
  background: #f3b900;
  text-decoration: none;
}
/**加载更多*/
body .favorable .fav-list .load-more {
  width: 158px;
  height: 40px;
  margin: 0 auto 10px;
  text-align: center;
  font-size: 14px;
  line-height: 40px;
  border: 1px solid #dcdde1;
  color: #60606a;
  background: #fafbfd;
  cursor: pointer;
}

/* 邮箱订阅弹出框reset */
#popbox .pc_bd {
  margin-top: 26px !important;
}
